<div class='container'>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
    <div class="form-row">
      <div class="col">
          <label for="emailAddress">Imię</label>
        <input type="text" ngModel class="form-control" placeholder="First name" #imie="ngModel" id="imie" name="imie" required>
        <label *ngIf="!imie.valid">Podaj imię</label>
      </div>
      <div class="col">
          <label for="emailAddress">Nazwisko</label>
        <input type="text" class="form-control" placeholder="Last name" name="nazwisko" #nazwisko="ngModel" id="nazwisko" required ngModel>
        <label *ngIf="!nazwisko.valid">Podaj nazwisko</label>
      </div>
    </div>
    <div class="form-group">
      <label for="emailAddress">Adres email</label>
      <input type="email" class="form-control" name="email" ngModel #email="ngModel" required id="emailAddress" placeholder="e-mail" email>
      <label *ngIf="!email.valid">Podaj email</label>
    </div>
    <div class="form-group">
      <label for="adres">Adres dostawy</label>
      <textarea class="form-control" id="adres" name="adres" rows="3" #adres="ngModel" required ngModel></textarea>
      <label *ngIf="!adres.valid">Podaj adres dostawy</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>